<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/common.js"></script>
   <script src="/js/tasks.js"></script>
    <link rel="stylesheet" href="css/tasks.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <h2>{{title}}</h2>
    <i class="fa fa-power-off" aria-hidden="true"></i>
    <div class="menu">
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>

    <div class="btn">
        <button id="addBtn">ADD</button>
        <button id="editBtn">EDIT</button>
        <button id="deleteBtn">DELETE</button>
    </div>


    <table>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Username</th>
            <th>Status</th>
        </tr>
        {{#each tasks}}
            <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td>{{this.title}}</td>
                <td>{{this.discription}}</td>
                <td>{{this.user_name}}</td>
                <td>{{this.status}}</td>
            </tr>
        {{/each}}
    </table>

</body>

</html>